////[Table of contents]
////1. Color
////[End table of contents]
//// 1. Color codes ------------------------------------------------ */
//// #8ecc0a, #f9c806, #0a6acc
$primary-color-green: #8ecc0a;
$primary-color-yellow: #E40C1B;
$primary-color-blue: #0a6acc;
$white-text: #ffffff;
$black-text: #0d0b0b;
$second-text: #625f5f;